div.cimagallery_photogallery {
	vertical-align: top;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

div.cimagallery_subgalleries {
	vertical-align: top;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.cimagallery_quad {
	width: 200px;
	height: 200px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 10px 10px 10px 10px;
}

div.cimagallery_quad a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

div.cimagallery_caption {
	font-weight: normal;
	font-size: 18pt;
	background-color: rgba(255,255,255,0.6);
	z-index: 10;
	overflow: hidden;
	padding-left: 4px;
	padding-right: 4px;
}

div.cimagallery_quad div.cimagallery_tile {
	width: 50%;
	height: 50%;
	position: absolute;
	display: inline-block;
	z-index: -10;
	overflow: hidden;
	text-align: center;
	vertical-align: center;
}

div.cimagallery_quad div.cimagallery_tile img {
	display: block;
	
	width: auto;
	min-width: 100%;
	max-width: unset;
	
	height: auto;
	min-height: 100%;
	max-height: unset;
}

div.cimagallery_quad div.cimagallery_1 {
	left: 0;
	top: 0;
}

div.cimagallery_quad div.cimagallery_2 {
	right: 0;
	top: 0;
}

div.cimagallery_quad div.cimagallery_3 {
	left: 0;
	bottom: 0;
}

div.cimagallery_quad div.cimagallery_4 {
	right: 0;
	bottom: 0;
}

.Candy1 {background-color: rgb(141,  31, 110); color: white;}
.Candy2 {background-color: rgb(221,  19, 123); color: white;}
.Candy3 {background-color: rgb(221,  13, 103); color: white;}
.Candy4 {background-color: rgb(228,  48,  71); color: white;}
.Candy5 {background-color: rgb(250, 146,  77);}
.Candy6 {background-color: rgb(255, 245,   0);}
.Candy7 {background-color: rgb(227, 253, 143);}
.Candy8 {background-color: rgb(211, 235, 128);}
.Candy9 {background-color: rgb(132, 194,  37);}
.Candy10 {background-color: rgb(22,  174, 122);}
.Candy11 {background-color: rgb(0,   147, 221);}
.Candy12 {background-color: rgb(2,   115, 184);}

a.cimagallery_back_button, a.cimagallery_back_button:link, a.cimagallery_back_button:visited {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	/* background-image: url('../images/arrowUp.svg'); */
	background-size: 100% 100%;
	
	-webkit-mask:  url('../images/arrowUp.svg') no-repeat 100% 100%;
    mask: url('../images/arrowUp.svg') no-repeat 100% 100%;
}

a.cimagallery_back_button:hover {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background-image: url('../images/arrowUp.svg');
	background-size: 100% 100%;
}